doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/wipho.js')
    link(rel='stylesheet', href='/stylesheets/wipho.css')
  body
    block content